# /etc/anacrontab: configuration file for anacron

# See anacron(8) and anacrontab(5) for details.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
HOME=/root
LOGNAME=root

# These replace cron's entries
1		5	cron.daily	run-parts --report /etc/cron.daily
7		10	cron.weekly	run-parts --report /etc/cron.weekly
@monthly	15	cron.monthly	run-parts --report /etc/cron.monthly


1		30	backup	grep -q "minibig" /proc/mounts && su -c "{{backup_script}} {{backup_dest_usb}}" kalos
1		30	backup.to.ext	su -c "{{backup_script_ext}} {{backup_server_ext}} {{backup_dest_ext}}" kalos
